# ===============================
# GeoPackage temporários
# ===============================
*.gpkg-wal
*.gpkg-shm

# ===============================
# QGIS temporários
# ===============================
*.qgz~
*.qgs~
*.autosave

# ===============================
# Sistema Windows
# ===============================
Thumbs.db
Desktop.ini

# ===============================
# Backup
# ===============================
*.bak
*.tmp